<p id="notice"><%= notice %></p>
<div class="content-body">
  <div class="container">
    <div class="row">
      <!--博客列表-->
      <main class="col-md-8">
        <ul class="list-group">

        <% @posts.each do |post| %>
            <%= post.title %> <%= post.created_at %>

        <% end %>
        </ul>
        <div class="facepagination" >
          <%= paginate @posts, window: 2 %>
        </div>
      </main>
      <%= render "shared/targ" %>
    </div>
  </div>
</div>