<div class="content-body">
  <div class="container">
    <div class="row">
      <main class="col-md-8">
        <article class="post post-1">
          <header class="entry-header">
            <h1 class="entry-title"><%= @post.title %></h1>
            <div class="entry-meta">
              <span class="post-category"><%= @post.category.name %></span>
              <span class="post-date"><time class="entry-date"
                                                        datetime="2012-11-09T23:15:57+00:00"><%= @post.created_at %></time></span>
              <span class="post-author">追梦人物</span>
              <span class="views-count"><%= @post.readcount %> 阅读</span>
              <span class="comments-link">4 评论</span>
            </div>
          </header>
          <div class="entry-content clearfix">
            <%= markdown(@post.body) %>
          </div>
        </article>
        <section class="comment-area" id="comment-area">
          <hr>
          <h3>发表评论</h3>
          <%= form_for ([@post, @post.comments.build]) do |f| %>
          
            <div class="row">
              <div class="col-md-4">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
              <div class="col-md-4">
                <%= f.label :email %>
                <%= f.text_field :email %>
              </div>
              <div class="col-md-4">
                <%= f.label :url %>
                <%= f.text_field :url %>
              </div>
              <div class="col-md-12">
                <%= f.label :body %>
                <%= f.text_area :body %>
                <%= f.submit  %>
              </div>
            </div>    <!-- row -->
          <% end %>
          <div class="comment-list-panel">
            <h3>评论列表，共 <span><%= @post.comments.count %></span> 条评论</h3>
            <ul class="comment-list list-unstyled">
              <% @post.comments.each  do |comm| %>
              <li class="comment-item">
                <span class="nickname"><%= comm.name %></span>
                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00"><%= comm.created_at %></time>
                <div class="text">
                  <%= comm.body %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </section>
      </main>
      <%= render "shared/targ" %>
    </div>
  </div>
</div>

